.titulo{
    font-family: monospace;
    font-size: 30px;

}
.lista {
    list-style: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    margin: 30px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        
}

.form div {
    margin: 10px;
}